@import "~bootstrap/scss/bootstrap.scss";

body {
    background: black;
}

.navbar-brand img{
    width: 130px;
    height: 70px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
 }
 .card{
     width: 250px;
     height: 350px;
     margin: 10px 0;
     font-size: 15px;
     display: block;
     position: relative;
 }
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6c757d; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6c757d; 
  border-radius: 10px;
}
 .card-img{
     width: 100%;
     height: 140px;
     position: absolute;
 }